#dynamicImage {
    flex: 1; /* Allow the image to take up equal width */
    height: 100%; /* Make the image width match the container's width */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.table-container {
    height: 200px;
    display: flex;
    flex-direction: row;
}

.image-wrapper{
    flex:auto;
    width:15%;
    background-color: #444;
}

.table-wrapper1 {
    flex:auto;
    width: 7%;
    overflow:hidden;
    background-color:#555
}

.table-wrapper2 {
    flex:auto;
    width: 40%;
    overflow-x:hidden;
    overflow-y:scroll;
}




table {
    border-collapse:separate;
    background-color:transparent;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    font-size: 10px; /* Set the font size to 10 pixels or any size you prefer */
}

th {
    background-color: #666;
    border: none;
    font-family: 'Arial', Arial, Helvetica, sans-serif; /* Change 'Your Desired Font' to the desired font name */
    color: #fff; /* Change the color as needed */
}

h1 {
    font-family: 'Arial', Arial, Helvetica, sans-serif; 
    font-size: 15px;
    color: #ffffff;
    margin: 5px; 
}

/* Webkit-based scrollbar styling */
.table-wrapper::-webkit-scrollbar {
    width: 12px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 6px;
}
